extends layout

block content
  h1= title
  h4= category.description

  if hotels.length > 0
    h3= "Asociated hotels:"
    ul
    each hotel in hotels
      li
        a(href=hotel.url) #{hotel.name}
  else
    li No hotels for this category.

  p 
    a(href=category.url + "/delete") Delete category
  p
    a(href=category.url + "/update") Update category