extends layout

block content
  h1= title
    h4= hotel.price_per_night + "$ per night"
    h4= hotel.free_rooms + " rooms left"
    a(href=hotel.category.url) #{"Vibe: " + hotel.category.name}
  p 
    a(href=hotel.url + "/delete") Delete hotel
  p
    a(href=hotel.url + "/update") Update hotel   
