extends layout

block content
  h1= title

  form(method='POST' action='')
    div
      label(for='title') Name:
      input(type='text', placeholder='Hotel name' name='name' required='true' value=(undefined===hotel ? '' : hotel.name) )
    div
      label(for='description') Description:
      textarea(type='textarea', placeholder='Description' name='description' required='true') #{undefined===hotel ? '' : hotel.description}
    div
      label(for='price') Price per night:
      input(type='number', placeholder='Price' name='price' value=(undefined===hotel ? '' : hotel.price_per_night) required='true')
    div
      label(for='free_rooms') Free rooms:
      input(type='number', placeholder='Free rooms' name='free_rooms' value=(undefined===hotel ? '' : hotel.free_rooms) required='true')
    div
      label(for='category') Category:
      select(type='select', placeholder='Select category' name='category' required='true' )
        for category in categories
          if hotel
            option(value=category._id selected=(category._id.toString()===hotel.category._id.toString() ? 'selected' : false) ) #{category.name}
          else
            option(value=category._id) #{category.name}
    button(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg
